* {
    padding: 0px;
    margin: 0px;
}

/* grid container */
.main {
    display: grid;
    grid-template-areas:
        "sidebar topbar topbar"
        "sidebar content right";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr;
}

/* grid items */
.sidebar {
    background-color: #1992d4;
    grid-area: sidebar;
    height: 100vh;
    color: white;
}

.topbar {
    background-color: white;
    grid-area: topbar;

}

.content {
    background-color: #d4d4d4;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    padding: 80px 40px;
}

.card {
    background-color: white;
    border-radius: 5px;

}

.right {
    background-color: blue;
    /* background-color: #d4d4d4; */
    grid-area: right;
}